@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #fff;
}

header {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  background: white;
  height: 2px;
  width: 64px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav ul li {
  padding: 10px;
}
nav ul li a {
  opacity: 0.69;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 26px;
}
nav ul li a:not(:last-child) {
  padding-right: 26px;
}
nav ul li a:hover {
  color: yellow;
}

.text-title {
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
}

.text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #86878b;
}

.header {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  margin-top: 21px;
  margin-bottom: 21px;
  height: 27px;
  width: 79px;
  background: url(../img/logo_43.png) no-repeat;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper__main {
  background: url(../img/backwrap.jpg) center 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 93vh;
}
.wrapper__features {
  background-color: #f5f5f5;
  border-top: solid 1px #c4c4c4;
}

.container {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container__main {
  margin-top: 11%;
}

.main {
  max-width: 47%;
}
.main__text {
  margin-top: 31px;
}
.main__title {
  margin-bottom: 26px;
  font-family: Raleway;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.main__description {
  margin-top: 34px;
  opacity: 0.8;
  font-family: Raleway;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  color: #ffffff;
}
.main__link {
  display: block;
  max-width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 43px;
  color: #fff;
  border: 2px solid white;
  text-align: center;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
}

.banner {
  margin-top: 1%;
  height: 370px;
  width: 370px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.2);
          box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.2);
}
.banner__head {
  height: 54px;
  width: 370px;
  background: #f5f5f5;
  border-radius: 3px;
}
.banner__head-text {
  margin: 0 auto;
  padding-top: 14px;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #333333;
  text-align: center;
}
.banner__head-text span {
  color: #ff8b38;
}
.banner__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 319px;
}

.form__input {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 285px;
  height: 31px;
  border: 0;
  margin-top: 23px;
  border-bottom: 1px solid #eee;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}
.form__input :first-child {
  margin-top: 26px;
}
.form__button {
  font-family: "Open Sans";
  display: block;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  max-height: 54px;
  width: 100%;
  padding: 20px 137px;
  background: #ff8b38;
  border-radius: 3px;
  margin: 0;
  margin-top: 11px;
}

.social {
  background: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}
.social__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 360px;
}
.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 85px;
}
.social__icon {
  font-size: 46px;
  color: #cccccc;
}

.features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__text {
  max-width: 476px;
}
.features__container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.features__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__tabs :first-child {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 0;
  background-color: #ff8b38;
}
.features__tabs :first-child:hover {
  background: rgba(255, 155, 81, 0.9);
}
.features__tab {
  display: block;
  background-color: #333333;
  padding: 48px 37px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 2px;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.features__tab:hover {
  background-color: #ff8b38;
}
.features__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.features__text {
  margin-top: 25px;
}
.features__text-title {
  padding-bottom: 15px;
}
.features__button {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #ff8b38;
  max-width: 120px;
  padding: 12px 23px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 2px 9px 26px -1px rgba(34, 60, 80, 0.2);
          box-shadow: 2px 9px 26px -1px rgba(34, 60, 80, 0.2);
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 55px;
}
.features__button:hover {
  background: rgba(255, 155, 81, 0.9);
}

.about2 {
  width: 100%;
}
.about2__wrapper {
  background: #f5f5f5;
}