/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,italic,600italic,700italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,700&display=swap);

body {
	background-color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.bg-grey {
	background-color: #f5f5f5;
}
hr {
	background: white;
	height: 2px;
	width: 64px;
	box-sizing: content-box;
	display: block;
}
.text-title {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	color: #333333;
}
.text {
	line-height: 20px;
	font-weight: 400;
	color: #86878b;
}

.header {
	background: black;
	width: 100%;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__logo {
		margin-top: 21px;
		margin-bottom: 21px;
		height: 27px;
		width: 79px;
		background: url(../img/logo_43.png) no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&__nav {
		display: flex;
		flex-direction: row;
	}
	&__item {
		padding: 10px;
	}
	&__link {
		opacity: 0.69;

		font-size: 14px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		padding-top: 26px;
		padding-bottom: 26px;
		padding-left: 26px;
		&:not(:last-child) {
			padding-right: 26px;
		}
		&:hover {
			color: yellow;
		}
	}
}
.main {
	background: url(../img/backwrap.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 16vh 64px 28vh;
	&__text {
		max-width: 520px;
		margin-top: 31px;
	}
	&__title {
		margin-bottom: 26px;
		font-family: Raleway;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 400;
		color: #ffffff;
	}
	&__description {
		margin-top: 34px;
		opacity: 0.9;
		font-family: Raleway;
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		color: #ffffff;
	}
	&__link {
		display: block;
		max-width: 135px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 43px;
		color: #fff;
		border: 2px solid white;
		text-align: center;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
	}
	&__banner {
		margin-top: 25px;
		background: white;
		border-radius: 3px;
		box-shadow: -4px 4px 5px 0px rgba(34, 60, 80, 0.2);
	}
	&__banner-title {
		padding: 15px 0;
		background: #f5f5f5;
		border-radius: 3px;
		font-size: 20px;
		line-height: 1.2;
		font-weight: 700;
		color: #333333;
		text-align: center;
		span {
			color: #ff8b38;
		}
	}
	&__banner-form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__banner-form-flex {
		display: flex;
		flex-direction: column;
		padding: 30px 0 60px;
		gap: 35px;
	}
	&__banner-input {
		display: block;
		align-items: center;
		width: 285px;
		height: 31px;
		border: 0;
		border-bottom: 1px solid #eee;

		font-size: 14px;
		line-height: 1.2;
		font-weight: 400;
		:first-child {
			margin-top: 26px;
		}
	}
	&__banner-button {
		display: block;
		width: 360px;
		height: 54px;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 600;
		color: #ffffff;
		background: #ff8b38;
		border-radius: 3px;
	}
}
.social {
	background: white;
	width: 100%;
	&__container {
		display: flex;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		flex-wrap: wrap;
	}
	&__text {
		display: block;
	}
	&__space {
		flex-grow: 1;
	}
	&__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-grow: 4;
	}
	&__icon {
		font-size: 46px;
		color: #cccccc;
	}
}
.features {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__section {
		border-top: solid 1px #c4c4c4;
		padding: 147px 0 116px;
	}
	&__text {
		max-width: 476px;
	}
	&__container {
		align-items: flex-end;
	}
	&__tabs {
		display: flex;
		flex-direction: column;
		:first-child {
			transition: 0.2s;
			margin-top: 0;
			background-color: #ff8b38;
			&:hover {
				background: rgb(255, 155, 81, 0.9);
			}
		}
	}

	&__tab {
		display: block;
		background-color: #333333;
		padding: 48px 37px;

		font-size: 15px;
		line-height: 20px;
		font-weight: 700;
		color: #ffffff;
		margin-top: 2px;
		border-radius: 3px;
		transition: 0.2s;
		&:hover {
			background-color: #ff8b38;
		}
	}

	&__text-block {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__text {
		margin-top: 25px;
	}
	&__text-title {
		padding-bottom: 15px;
	}
	&__button {
		display: block;
		align-self: flex-start;
		background: #ff8b38;
		max-width: 120px;
		padding: 12px 23px;

		font-size: 15px;
		line-height: 20px;
		font-weight: 600;
		color: #ffffff;
		border-radius: 3px;
		box-shadow: 2px 9px 26px -1px rgba(34, 60, 80, 0.2);
		text-decoration: none;
		transition: 0.2s;
		margin-top: 55px;
		&:hover {
			background: rgb(255, 155, 81, 0.9);
		}
	}
}
