@import "nullstyle.scss";

body {
	background-color: #fff;
}

nav {
	display: flex;
	justify-content: flex-end;

	ul {
		display: flex;
		flex-direction: row;

		li {
			padding: 10px;

			a {
				color: green;

				&:hover {
					color: red;
				}
			}
		}
	}
}
